{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Edit Your Post</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.category.label }}
                {% if form.category.errors %}
                    {% for e in form.category.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.category(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.cover_img_url.label }}
                {% if form.cover_img_url.errors %}
                    {% for e in form.cover_img_url.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.cover_img_url(class_='form-control') }}
            </div>

            <p style="text-align: center">
                <img src="{{ form.cover_img_url.data }}" class="cover_img mx-auto rounded"/>
            </p>


            <div class="form-group">
                {{ form.body.label }}
                {% if form.body.errors %}
                    {% for e in form.body.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}

                <div id="fancy-editormd" class="editormd">
                    {{ form.body(style="display:none;") }}
                </div>

            </div>

            {{ form.submit }}

        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var Editor;

        $(function () {
            Editor = editormd("fancy-editormd", {
                width: "100%",
                height: 740,
                syncScrolling: "single",
                path: "{{ url_for('static',filename='editormd/lib/') }}",
                saveHTMLToTextarea : true,
                theme : "dark",
                previewTheme : "dark",
                editorTheme : "pastel-on-dark",
                tex : true, // 支持数学公式编辑
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,
            });
        });
    </script>
{% endblock %}